
/* Background colour for all views */
.root {
    -fx-background-color: #2B2B2B;
}



/* Styles for title labels */
.title-label {
    -fx-font-size: 20px;          /* Large font size */
    -fx-font-weight: bold;        /* Bold font */
    -fx-text-fill: white;         /* White text */
    -fx-effect: dropshadow(gaussian, black, 5, 0, 0, 0); /* Outline effect */
}

/* Default text color for labels and buttons */
.label, .button {
    -fx-text-fill: white;
        -fx-font-weight: bold;

        -fx-effect: dropshadow(gaussian, black, 2, 2, 2, 2);
}

/*  button colors */
.edit-button {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

.new-recipe-button {
    -fx-background-color: #00d970;
    -fx-text-fill: white;
}

.delete-button {
    -fx-background-color: #ff5c5c;
    -fx-text-fill: white;
}

.redirect-button {
    -fx-background-color: #8a2be2;
    -fx-text-fill: white;
}